<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zdd.entry.mapper.MeetingChatMessageMapper">

    <resultMap id="BaseResultMap" type="com.zdd.entry.domain.MeetingChatMessage">
            <id property="messageId" column="message_id" />
            <result property="meetingId" column="meeting_id" />
            <result property="messageType" column="message_type" />
            <result property="messageContent" column="message_content" />
            <result property="sendUserId" column="send_user_id" />
            <result property="sendUserNickName" column="send_user_nick_name" />
            <result property="sendTime" column="send_time" />
            <result property="receiveType" column="receive_type" />
            <result property="receiveUserId" column="receive_user_id" />
            <result property="fileSize" column="file_size" />
            <result property="fileName" column="file_name" />
            <result property="fileType" column="file_type" />
            <result property="fileSuffix" column="file_suffix" />
            <result property="status" column="status" />
    </resultMap>

    <sql id="Base_Column_List">
        message_id,meeting_id,message_type,message_content,send_user_id,send_user_nick_name,
        send_time,receive_type,receive_user_id,file_size,file_name,
        file_type,file_suffix,status
    </sql>
</mapper>
