<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zdd.entry.mapper.UserContactApplyMapper">

    <resultMap id="BaseResultMap" type="com.zdd.entry.domain.UserContactApply">
            <id property="applyId" column="apply_id" />
            <result property="applyUserId" column="apply_user_id" />
            <result property="receiveUserId" column="receive_user_id" />
            <result property="lastApplyTime" column="last_apply_time" />
            <result property="status" column="status" />
    </resultMap>

    <sql id="Base_Column_List">
        apply_id,apply_user_id,receive_user_id,last_apply_time,status
    </sql>
</mapper>
